*
  box-sizing: border-box

#container
  display: flex
  justify-content: space-around
  background-image: url('../assets/background.jpg')
  background-size: cover
  height: 100vh
  width: 100vw

  &::after
    content: ''
    background-color: #383838
    position: absolute
    height: 100vh
    width: 100vw
    opacity: 50%

  .slide-container
    width: 25vw
    height: 100vh
    position: relative
    z-index: 500
    overflow: hidden
    display: flex
    align-items: center
    flex-direction: column
    display: none

    .game-mode-container
      position: relative
      background-image: radial-gradient(#112638 1px, transparent 1px)
      background-size: 2px 2px
      width: 11rem
      display: flex
      top: 17rem
      right: 1rem
      height: 2rem

      h1
        margin: 0
        color: #49748f
        font-size: 1.5rem
        margin-left: .7rem
        margin-right: 1rem

    .descrip-container
      position: relative
      top: 17rem
      right: 1rem
      height: 4rem
      width: 11rem
      background-image: radial-gradient(#252525 1px, transparent 1px)
      background-size: 2px 2px

      p
        color: #fefefe
        font-size: 7px
        margin-left: .7rem

    video
      position: absolute
      height: 100vh
